@import './common.scss';

body,
html {
  height: 100%;
  margin: 0;
  color: #fff;
  background: #000;
}

.container-header {
  max-width: 1500px;
  color: #fff;
  background: #000;
  font-family: 'Poppins', sans-serif;
  &__header-foto {
    animation: opac 0.8s;
    img {
      max-width: 100%;
      margin-bottom: -8px;
    }
  }
  .header-button {
    width: 35%;
    padding: 8px 16px;
    &__button-text {
      opacity: 0.6;
      border-radius: 8px;
      .title {
        font-size: 24px;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        margin: 10px 0px;
      }
    }
  }
}
