body,
html {
  height: 100%;
  margin: 0;
  color: #fff;
  background: #000;
}

.dialog-container {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 999;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: flex-start;
}
.dialog-container .dialog-content {
  padding: 36px;
  box-sizing: border-box;
  width: 900px;
  top: 10%;
  position: absolute;
  background: white;
  position: relative;
  color: black;
}
.dialog-container .dialog-content .fa-remove {
  position: absolute;
  top: 36px;
  right: 36px;
  font-size: 24px;
  padding: 5px 10px;
  cursor: pointer;
}
.dialog-container .dialog-content .fa-remove:hover {
  background: #ccc;
}

.main-wrapper {
  max-width: 1500px;
  color: #fff;
  background: #000;
  margin: auto;
}

.container-header {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.container-header__header-foto {
  animation: opac 0.8s;
}
.container-header__header-foto img {
  max-width: 100%;
  margin-bottom: -8px;
}
.container-header .header-button-wrapper {
  width: 35%;
  position: absolute;
  padding: 12px 24px;
  box-sizing: border-box;
}
.container-header .button-take-tour {
  position: absolute;
  padding: 8px 16px;
  color: white;
  right: 16px;
  font-size: 16px;
  border: none;
  outline: none;
  background: black;
  border-radius: 4px;
  line-height: 1.5;
  cursor: pointer;
}
.container-header .button-take-tour:hover {
  background: white;
  color: black;
}
.container-header .header-button {
  background: black;
  color: white;
  opacity: 0.6;
  padding: 12px 24px;
  border-radius: 8px;
  text-align: center;
}
.container-header .header-button:hover {
  opacity: 1;
}
.container-header .header-button__button-text {
  border-radius: 8px;
}
.container-header .header-button__button-text .title {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 10px 0px;
}
.container-header .header-button__button-text hr {
  display: block;
  border: none;
  border-bottom: 1px solid white;
  margin: 20px 0px;
}
.container-header .header-button__button-text .subtitle {
  font-size: 16px;
  text-align: center;
}
.container-header .header-button .button-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px 0px 10px;
}
.container-header .header-button .button-wrapper .header-card-button {
  padding: 8px 16px;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #4caf50;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
}
.container-header .header-button .button-wrapper .header-card-button i {
  margin: 0px 3px;
}
.container-header .header-slide {
  display: none;
  align-items: center;
  justify-content: space-between;
  position: relative;
  opacity: 0;
  animation: opacitySlide 0.4s forwards;
}
.container-header .header-slide:first-child {
  display: flex;
}
@keyframes opacitySlide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.container-header .header-slide:nth-child(2) .header-card-button {
  background: #f44336;
}
.container-header .header-slide:nth-child(2) .title {
  color: #f44336 !important;
}
.container-header .header-slide:nth-child(3) .header-card-button {
  background: #3f51b5;
}

.container-info-app {
  padding: 64px 0px;
  color: #000;
  background: #fff;
  display: flex;
}
.container-info-app__wrapper-app {
  flex: 1;
  padding: 0px 12px;
}
.container-info-app__wrapper-app .title-text {
  width: 67%;
  display: flex;
  flex-direction: column;
}
.container-info-app__wrapper-app .title-text__title {
  font-size: 64px;
  margin: 10px 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 50;
}
.container-info-app__wrapper-app .title-text__text-buy {
  color: #4caf50;
  font-size: 48px;
  font-family: "Poppins", sans-serif;
  margin: 10px 0px;
}
.container-info-app__wrapper-app .title-text__text-photo {
  margin: 6px 0px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
.container-info-app__wrapper-app .title-text strong {
  font-size: 24px;
}
.container-info-app__wrapper-app .button {
  display: inline-block;
  color: #000;
  background: #f1f1f1;
  margin: 16px 0px;
  padding: 12px 24px;
  cursor: pointer;
}
.container-info-app__wrapper-app .button:hover {
  background: #ccc;
}
.container-info-app__wrapper-app .button .fa {
  color: #000;
}
.container-info-app__wrapper-app .button span {
  font-family: "Poppins", sans-serif;
  width: 20%;
}
.container-info-app__wrapper-app .text-available-for {
  display: flex;
}
.container-info-app__wrapper-app .text-available-for span {
  font-size: 16px;
  margin: 16px 0px;
  font-family: "Poppins", sans-serif;
}
.container-info-app__wrapper-app .text-available-for i {
  font-size: 24px;
}
.container-info-app__wrapper-app .text-available-for i:first-child {
  color: #4caf50;
}
.container-info-app__wrapper-app .text-available-for i:last-child {
  color: #2196f3;
}
.container-info-app__image {
  padding: 0px 20px;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.dialog-content__title {
  letter-spacing: 4px;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 400;
}
.dialog-content__text {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  margin: 16px 0px;
}
.dialog-content .container-icon {
  display: flex;
}
.dialog-content .container-icon .fa {
  font-size: 18px;
  padding: 0px 3px;
}
.dialog-content .container-input {
  display: flex;
  padding: 20px 0px;
}
.dialog-content .container-input__text-email {
  width: 100%;
  border: 1px solid #ccc;
  padding: 8px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
.dialog-content .container-button {
  display: flex;
}
.dialog-content .container-button__button {
  width: 100%;
  color: #fff;
  background: #f44336;
  padding: 12px 24px;
  margin-bottom: 16px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.dialog-content .container-button__button:hover {
  color: #000;
  background: #ccc;
}

.container-clarity {
  color: #000;
  background: #f1f1f1;
  padding-top: 64px;
  padding-bottom: 64px;
}
.container-clarity__wrapper-clarity {
  padding: 0px 8px;
  display: flex;
}
.container-clarity__wrapper-clarity .wrapper-photo {
  padding: 0px 8px;
}
.container-clarity__wrapper-clarity .wrapper-photo img {
  filter: grayscale(75%);
  border-radius: 8px;
}
.container-clarity__wrapper-clarity .wrapper-info {
  padding: 0px 8px;
}
.container-clarity__wrapper-clarity .wrapper-info__title {
  font-size: 64px;
  font-family: "Poppins", sans-serif;
  margin: 10px 0px;
}
.container-clarity__wrapper-clarity .wrapper-info__text {
  color: #f44336;
  font-size: 48px;
  font-family: "Poppins", sans-serif;
  margin: 10px 0px;
  display: flex;
}
.container-clarity__wrapper-clarity .wrapper-info__text-sharp {
  max-width: 16px 0px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
.container-clarity__wrapper-clarity .wrapper-info__text-revolution {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
}

.app-container-icon {
  color: #fff;
  background: #616161;
  padding-top: 64px;
  padding-bottom: 64px;
  text-align: center;
}
.app-container-icon__title {
  display: block;
  font-size: 64px;
  font-family: "Poppins", sans-serif;
  margin: 10px 0px;
}
.app-container-icon__text {
  display: block;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.app-container-icon .block-first {
  margin-top: 64px;
  display: flex;
  text-align: center;
}
.app-container-icon .block-first__icon {
  width: 25%;
}
.app-container-icon .block-first i {
  display: block;
  font-size: 64px;
}
.app-container-icon .block-first span {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  margin: 16px 0px;
}

.container-pricing {
  padding-top: 64px;
  padding-bottom: 64px;
  color: #000;
  background: #fff;
}
.container-pricing__title {
  font-size: 64px;
  font-family: "Poppins", sans-serif;
  margin: 10px 0px;
  text-align: center;
}
.container-pricing__text {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  margin: 18px 0px;
  text-align: center;
}
.container-pricing .pricing-crads-container {
  display: flex;
  justify-content: center;
  padding: 0px 8px;
  margin-top: 64px;
}
.container-pricing .pricing-crads-container .pricing-crad {
  width: 50%;
  font-family: "Poppins", sans-serif;
  margin: 0px 8px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.container-pricing .pricing-crads-container .pricing-crad__title {
  padding: 32px 16px;
  text-align: center;
  color: #fff;
  background-color: #616161;
  border-bottom: 1px solid #ddd;
  font-size: 24px;
}
.container-pricing .pricing-crads-container .pricing-crad__title:nth-child(2) {
  color: #f44336;
}
.container-pricing .pricing-crads-container .pricing-crad__properties {
  padding: 16px 16px;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}
.container-pricing .pricing-crads-container .pricing-crad__properties__price {
  padding: 10px 0px;
  opacity: 0.6;
  font-size: 30px;
}
.container-pricing .pricing-crads-container .pricing-crad__button-wrapper {
  padding: 24px 16px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
}
.container-pricing .pricing-crads-container .pricing-crad__button {
  padding: 12px 24px;
  background: black;
  color: white;
  border: none;
  outline: none;
  font-size: 16px;
  cursor: pointer;
}

.container-footer {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  color: #000;
  background: #f1f1f1;
  text-align: center;
  padding: 32px 16px;
}
.container-footer__block-icon {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  margin: 16px 0px;
}
.container-footer__tetx {
  color: #000;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  margin: 15px 0px;
}
.container-footer a {
  color: #000;
}

.gray-hover:hover {
  color: #000 !important;
  background-color: #ccc !important;
}

.orange-color {
  color: #ff9800;
}

.red-color {
  color: #f44336;
}

.background-red {
  background: #f44336 !important;
}

.light-green-color {
  color: #d2be0e;
}

.green-color {
  color: #4caf50;
}

.white-color {
  color: #fff;
}

.blue-color {
  color: #2196f3;
}

.yellow-color {
  color: #ffc107;
}

.light-blue {
  color: #00bcd4;
}

.beige-color {
  color: #fdf5e6;
}

.gray-color {
  color: #757575;
}

.pink-color {
  color: #e91e63;
}

.black-color {
  color: #000;
}

/*# sourceMappingURL=index.css.map */
